---
- name: Deploy PHP Application to EC2 Instances
  hosts: webservers
  become: yes
  vars:
    app_dir: /opt/phpapp
    docker_image: richardthomas1/phpapp-image:latest

  tasks:
    - name: Ensure application directory exists
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: ec2-user
        group: ec2-user
        mode: '0755'

    - name: Copy docker-compose.yaml
      copy:
        src: ../docker-compose.yaml
        dest: "{{ app_dir }}/docker-compose.yaml"
        owner: ec2-user
        group: ec2-user
        mode: '0644'

    - name: Copy init.sql
      copy:
        src: ../init.sql
        dest: "{{ app_dir }}/init.sql"
        owner: ec2-user
        group: ec2-user
        mode: '0644'

    - name: Pull latest Docker images
      shell: |
        cd {{ app_dir }}
        docker-compose pull
      become_user: ec2-user

    - name: Stop existing containers
      shell: |
        cd {{ app_dir }}
        docker-compose down
      become_user: ec2-user
      ignore_errors: yes

    - name: Start containers
      shell: |
        cd {{ app_dir }}
        docker-compose up -d
      become_user: ec2-user

    - name: Wait for services to be ready
      wait_for:
        port: 80
        delay: 10
        timeout: 60

    - name: Check application health
      uri:
        url: "http://localhost/"
        status_code: 200
      register: health_check
      retries: 3
      delay: 5

    - name: Display deployment status
      debug:
        msg: "Deployment successful on {{ inventory_hostname }}"
